# Конфигурация базы данных для разработки
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=converter-db

# Настройки приложения
PORT=3000
NODE_ENV=development

# CORS настройки
CORS_ORIGIN=http://localhost:4200

# API
NBRB_API_URL=https://api.nbrb.by/exrates